#block{
	width:101%;
	height:150px;
	background-color:grey;
	margin:0px 0px -10px -10px;
	z-index:0;
	opacity:0.6;
	position:fixed;
	top:0;
	display:none;
}
.bg{
    height:100.2%;
    width:101%;
    margin:-1500px -10px -10px -10px;
    z-index:-1;
    position:fixed;

}

body {
	overflow-x:hidden;
}
#block1{
	width:auto;
	height:150px;
	background-color:grey;
	margin:1500px -10px -10px -10px;
    opacity:0.6;
    z-index:2;
}
.n{
	font-family:"Pacifico";
	z-index:3;
	color:white;
	font-size:60px;
	margin-top:-1500px;
	text-align:center;
	margin-bottom:0px;

}
.b{
	margin-top:-200px;
	position:absolute;


}