#block{
	width:auto;
	height:150px;
	background-color:grey;
	margin:-1000px -10px -10px -10px;
	z-index:1;
	position:relative;
	opacity:0.6;

}
.bg{
    height:100.2%;
    width:101%;
    margin:-10px -10px -10px -10px;
    z-index:-1;
 	visibility:visible;
    position:fixed;
    position:relative;
}

body {
	overflow-x:hidden;
}
#block1{
	width:auto;
	height:150px;
	background-color:grey;
	margin:600px -10px -10px -10px;
    opacity:0.6;
    position:relative;
}