#block{
	width:auto;
	height:150px;
	background-color:grey;
	margin:-10px -10px -10px -10px;
	z-index:1;
	position:relative;
	opacity:0.6;
	visibility:hidden;
}
.bg{
    height:100.2%;
    width:101%;
    margin:-10px -10px -10px -10px;
    z-index:-1;
    position:relative;
    position:fixed;
}

body {
	overflow-x:hidden;
}
#block1{
	width:auto;
	height:150px;
	background-color:grey;
	margin:1000px -10px -10px -10px;
    opacity:0.6;
}